.content{
    display: flex;
    width: 97%;
    margin-top: 10px;
    margin-left: 1.5%;
}

.filtro{
    width: 10%;
    margin-right: 10px;
}

.salvos{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 100px;
    margin-bottom: 100px;
}

.imagens {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.titulo{
    display: flex;
    width: 100%;
    height: 80px;
}

.salvos *{
    margin: 5px;
}

#conteudos {
    display: flex;
}

#conteudos a{
   text-decoration: none;
}

.img-content{
    width: 250px;
    height: 200px;
}
.p-nome{
    font-weight: bold;
}

.p-usuario{
    display: flex;
    width: 100%;
    height: 50px;
}
.p-usuario img {
    border-radius: 50%;
}
.conteudo { 
    margin-bottom: 20px; 
    cursor: pointer; 
    text-align: center;
    
}
.conteudo p {
    color: black;
    padding: 5px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.conteudo:hover {
    transform: scale(0.9);    
}