<div class="content">
    <div class="filtro">
        <select class="form-select form-control" [(ngModel)]="opcaoSelecionada" name="selecaoAtributos">
            <option value="Novos">Novos</option>
            <option value="Antigos">Antigos</option>
            <option value="Populares">Populares</option>
          </select>
    </div>
    <div class="salvos">

        <div class="titulo">
            <h1 style="font-size: 22px; margin-top: 10px; margin-left: 10px;">Seus favoritos ({{qtdFavoritos}})</h1>
        </div>
        
        <div class="imagens">
            <section id="conteudos" >
                <a routerLink="/" href="#">
                    <section class="conteudo">
                        <img class="img-content" src="assets/img/icon/1142818.jpg">
                        <p class="p-nome">Nome</p>
                        <div class="p-usuario"><img src="assets/img/icon/avatar.svg"><p>Gustavo da Silva Neves</p></div>
                    </section>
                </a>
            </section>
            <section id="conteudos" >
                <a routerLink="/" href="#">
                    <section class="conteudo">
                        <img class="img-content" src="assets/img/icon/1142818.jpg">
                        <p class="p-nome">Nome</p>
                        <div class="p-usuario"><img src="assets/img/icon/avatar.svg"><p>Gustavo da Silva Neves</p></div>
                    </section>
                </a>
            </section>
            <section id="conteudos" >
                <a routerLink="/" href="#">
                    <section class="conteudo">
                        <img class="img-content" src="assets/img/icon/1142818.jpg">
                        <p class="p-nome">Nome</p>
                        <div class="p-usuario"><img src="assets/img/icon/avatar.svg"><p>Gustavo da Silva Neves</p></div>
                    </section>
                </a>
            </section>
            <section id="conteudos" >
                <a routerLink="/" href="#">
                    <section class="conteudo">
                        <img class="img-content" src="assets/img/icon/1142818.jpg">
                        <p class="p-nome">Nome</p>
                        <div class="p-usuario"><img src="assets/img/icon/avatar.svg"><p>Gustavo da Silva Neves</p></div>
                    </section>
                </a>
            </section>
            <section id="conteudos" >
                <a routerLink="/" href="#">
                    <section class="conteudo">
                        <img class="img-content" src="assets/img/icon/1142818.jpg">
                        <p class="p-nome">Nome</p>
                        <div class="p-usuario"><img src="assets/img/icon/avatar.svg"><p>Gustavo da Silva Neves</p></div>
                    </section>
                </a>
            </section>
            <section id="conteudos" >
                <a routerLink="/" href="#">
                    <section class="conteudo">
                        <img class="img-content" src="assets/img/icon/1142818.jpg">
                        <p class="p-nome">Nome</p>
                        <div class="p-usuario"><img src="assets/img/icon/avatar.svg"><p>Gustavo da Silva Neves</p></div>
                    </section>
                </a>
            </section>
        </div>
    </div>
</div>

