@import url(_reset.css);
@import url(_variaveis.css);


body {
	background-color: var(--azul-5);
	color: var(--cinza-1);
	font-family: var(--fonte-familia-corpo);
	overflow-x: hidden;
	letter-spacing: -0.25px;
	line-height: 1.1;
	font-size: var(--fonte-tamanho-primaria);
}

body a:hover {
    color: inherit;
}

.modal-dialog {
	margin-top: 4vw;
	padding: 1rem
}

::selection {
	background-color: var(--azul-5);
}

/*Presente em todas as paginas*/
.center { 
	margin-left: auto;
	margin-right: auto;
}
/*Páginas com um cartão pequeno*/
.container-xs {
	max-width: 27rem;
    min-width: 15rem;
}
/*Páginas com um cartão grande */
.container-xx {
	margin-top: 1rem;
	max-width: 1124px;
	min-width: 15rem;
}
/*Páginas com dois cartões, um pequeno e um grande*/
.container-xl {
	margin-bottom: 6vw;
	margin-top: 0.5rem;
	max-width: 1280px;	
	min-width: 15rem;
}

.container--titulo {
	font-size: var(--header-3);
	margin: auto 0;
	font-weight: var(--fonte-peso-medium);
	color: var(--cinza-3);
}

.a {
	border: none;
	outline: none;
	font-size: 14px;
	color: var(--cinza-1);
}

.img-container {
	border: 1px solid var(--cinza-5);
    border-radius: 6px;
	margin: auto;
	width: 100%;
}

.img-content {
	height: inherit;
	position: relative;
}

.img {
	border-radius: 6px;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.hidden {
	display: none;
	visibility: hidden;
}

.semi-bold {
	font-weight: var(--fonte-peso-medium);
}

.flex {
	display: flex;
}

.collumn-reverse {
	flex-direction: column-reverse;
}

.space-between {
	justify-content: space-between;
}

.flex-items-center {
	align-items: center;
}

.flex-items-end {
	align-items: flex-end;
}

.flex-coluna {
	flex-direction: column;
}

.flex-shrink-0 {
	flex-shrink: 0;
}

.flex--end {
	align-items: center;
	margin-left: auto;
	justify-content: flex-end;
}

.flex-wrap {
	flex-wrap: wrap;
}

.block {
	display: block;
}

.relative {
	position: relative;
}

.border {
	border: 2px solid var(--azul-claro-transparente);
}

.bold {
	font-weight: 700;
}

.border-bottom {
	border-bottom: 1px solid var(--cinza-6);
}

.width-full {
	width: 100%;
}

.height-full {
	height: 100%;
}
.text-left{
	text-align: left;

}
.text-center {
	text-align: center;
}

.text-justify {
	text-align: justify;
}

.link-container {
	text-decoration: none;
	cursor: pointer;
}

.link-container:hover {
	text-decoration: underline;
	
}

.link-color {
	color: var(--azul-1);
}

.link-color:hover {
	color: var(--azul-1);
}

.link-externo {
	font-weight: var(--fonte-peso-bold);
	font-size: var( --fonte-tamanho-secundaria);
	text-transform: uppercase;
}

.material-icons {
	display: flex;
	align-items: center;
	line-height: 1;
}

.material-symbols-rounded {
	margin-right: 0.25rem;
    font-size: 30px;
	font-variation-settings:
	'FILL' 0,
	'wght' 300,
	'GRAD' 200,
	'opsz' 32
}

.fill {
	font-variation-settings:
	'FILL' 1,
	'wght' 300,
	'GRAD' 200,
	'opsz' 32
} 

.eye {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
    font-size: 22px;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 400,
    'opsz' 24
}

.eye-fill {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
    font-size: 22px;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 400,
    'opsz' 24
}

.sucesso {
	color: var(--cor-sucesso);
}

@media screen and (min-width: 769px) {
	.flex--row {
		flex-direction: row;
	}
	.flex--centro {
		justify-content: center;
	}
	.px-5 {
		padding-right: 2rem;
		padding-left: 2rem;
	}
	.flex-start {
		align-items: flex-start;
	}
	.container--titulo {
		font-size: var(--header-2);
	}
}
@media screen and (min-width:  1024px) {

	
}
