.mb-4{
	margin-bottom: 1.5rem;
}
.mb-2{
	margin-bottom: .5rem;
}
.mb-1{
	margin-bottom: .25rem;
}
.m-0{
	margin: 0;
}
.mx-1{
	margin-right: 0.25rem;
	margin-left: 0.25rem;
}
.mx-2{
	margin-left: .5rem;
	margin-right: .5rem;
}
.mr-4{
	margin-right: 1.5rem;
}
.mr-1{
	margin-right: 0.25rem;
}
.ml-4{
	margin-left: 1.5rem;
}
.mt-2{
	margin-top: .5rem;
}

.my-2{
	margin-top: .5rem;
	margin-bottom: .5rem;
}
.my-3{
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.ml-2{
	margin-left: 0.5rem;
}
.mt-1{
		margin-top: 0.25rem;
}
.my-xl{
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.mr-2{
	margin-right: 0.5rem;
}
.mr-3{
	margin-right: 1rem;
}
.ml-3{
	margin-left: 1rem;
}
.my-0{
	margin-top: 0;
	margin-bottom: 0;
}
.ml-5{
	margin-left: 2rem;
}