.py-1{
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}
.py-2{
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.px-2{
	padding-right: 0.5rem;	
	padding-left: 0.5rem;
}
.px-3{
    padding-right: 1rem;
    padding-left: 1rem;
}
.px-4{
 	padding-right: 1.5rem;	
	padding-left: 1.5rem;
}
.pr-3{
	padding-right: 1rem;
}

.pl-3{
	padding-left: 1rem;
}

.pb-4{
	margin-bottom: 1.5rem;
}
.p-is{
	padding: 0.5rem 1rem;
}
.pt-1{
	padding-top: 0.25rem;
}


@media screen and (min-width: 450px) {
	.p-isl{
		padding: 1rem 1rem;
		
	}

}
@media screen and (min-width: 768px) {

}



