.botao--container{
    display: flex;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    outline: none;
    padding: 0 0.5rem;
    cursor: pointer;
    font-size: var(--fonte-tamanho-secundaria);
}
.botao--container:hover{
    color: var(--contraste-claro);
}

.btn-contribuicao{
    width: 180px;
    height: 84px;
    flex-direction: column;
}
.botao--primario{
    background-color: var(--azul-1);
    color: var(--contraste-claro);    
    font-size: var(--fonte-tamanho-primaria);
    margin-top: 0.5rem
}
.botao--primario:hover{
    background-color: var(--azul-12);
    color: var(--contraste-claro);    
}
.botao--secundario{
    background-color: var(--azul-claro-transparente);
    color: var(--azul-1);
    font-size: var(--fonte-tamanho-primaria);
    border: none;
    margin-top: 0.5rem
}
.botao--secundario:hover{
    border: 1px solid var(--cinza-5);
    color: var(--azul-1);
}
.botao--terciario{
    background-color: var(--azul-5);
    color: var(--azul-1);
    font-size: var(--fonte-tamanho-primaria);
}
.botao--terciario:hover{
    background-color: var(--azul-4);
    color: var(--azul-1);
}

.hoverzinho:hover{
    border: 1px solid white;

}
.botao-envio{
    display: flex;
    min-width: 5rem;
    max-width: 100rem;
    width: 10rem;
}
.botao-aviso{
    margin-right: 0.5rem;
}

.botao-aviso:hover{
    color: var(--cor-aviso);
    background-color: var(--cor-aviso-fundo);
    box-shadow: var(--borda-aviso);
    border: none;
}
@media screen and (min-width: 1024px) {
    .botao--container{
        padding:  0 1rem;
    }
}
@media screen and (min-width: 1024px) {
    .botao--container{
        padding:  0 1rem;
    }
}