
input:-webkit-autofill, input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
.form-control{
    font-size: unset;
    color: unset;
}

.form-control.is-invalid {
    border-color: var(--cor-aviso);
}

.form-control.is-invalid:focus {
    outline: none;
    background-color: var(--contraste-claro);
    border: 2px solid  var(--azul-2);
    box-shadow: -1px 0px 0px 3px var(--azul-sombra-focus);
    -webkit-box-shadow: -1px 0px 0px 3px var(--azul-sombra-focus);  
    -moz-box-shadow: -1px 0px 0px 3px var(--azul-sombra-focus);
}

.input-container {
    font-weight: var(--fonte-peso-input);
    position: relative;
    margin-bottom: 0.25rem;
    box-sizing: border-box;
}

.input {
    border: 2px solid var(--cinza-5);
    border-radius: 6px;
    padding-left: 0.75rem;
    height: 2.5rem;
}

.input-full {
    width: 100%;
}

.input::placeholder {
    color: var(--cinza-5);
    font-weight: var(--fonte-peso-regular);
    padding-left: 0.05rem;
    vertical-align: middle;
}

.input:hover {
        
}

.input:focus {
    outline: none;
    background-color: var(--contraste-claro);
    border: 2px solid  var(--azul-2);
    box-shadow: -1px 0px 0px 3px var(--azul-sombra-focus);
    -webkit-box-shadow: -1px 0px 0px 3px var(--azul-sombra-focus);
    -moz-box-shadow: -1px 0px 0px 3px var(--azul-sombra-focus);
}
.input--label {
    display: block;
    text-align: left;
    font-weight: var(--fonte-peso-medium);
    color: var(--cinza-1);
    padding-top: 0.25rem;
    padding-left: 0.25rem;
    line-height: 1;
}

.input--label::after {
    color: var(--cor-aviso);
    content: "";
    padding-left: 5px;
}

.checkbox--label {
    display: block;
    margin-top: 0.25rem;
    letter-spacing: -0.5px;

}
.checkbox--label{
    cursor: pointer;
}

.option {
    font-family: var(--fonte-familia-corpo);
    background-color: var(--contraste-claro);
    font-size: var(--fonte-tamanho-primaria);
    padding: 0 0.75rem;
    color: var(--cinza-3);
}
.option:hover{
    cursor: pointer;
}

.input-comment {
    resize: none;
    padding: 0.5rem 0.75rem;
    width: -webkit-fill-available;
    height: auto;
}

.textarea {
    min-height: 4rem;
    width: 100%;
    resize: none;
    padding: 0.5rem 0.75rem;
}

.label--order {
    height: 32px;
    padding-top: 0.5rem;
    display: block;
    margin: 0 0 0 auto;
    border-bottom: 1px solid var(--cinza-3);
}
.dropdow--order {
    margin-left: 0.5rem;
    cursor: pointer;
    border: none;
    font-family: var(--fonte-familia-corpo);
    background-color: var(--contraste-claro);
    font-size: var(--fonte-tamanho-primaria);
    color: var(--cinza-3);
    height: 100%;
    line-height: 60px;
}

.dropdow--order:focus {
    outline: none;
    line-height: 60px;
}
@media screen and (min-width: 495px) {
    .label--order{
    padding-top: 0;
    justify-content: unset;
    width: auto;
    }
}
