.feed{
    top: 80px;
    position: relative;
    width: 100%;
    padding-bottom: 100px;
    background-color: #fff;
}

.content p {
    color: black;
    padding: 5px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
}

.content *{
    margin: 5px;
    
}

#conteudos {
    display: flex;
}

.content a{
   text-decoration: none;
}

.content a:hover{
    transform: scale(0.9);
    cursor: pointer;
 }

.img-content{
    width: 250px;
    height: 200px;
}
.p-nome{
    font-weight: bold;
}

.p-usuario{
    display: flex;
    width: 100%;
    height: 50px;
}

.p-usuario img{
    border-radius: 50%;
}

h1{
    font-size: 28px;
}

.h1-feed{
    width: 78%;
    display: flex;
    margin-top: 10px;
    margin-left: 20px;
}

.select-feed{
    width: 35%;
    display: flex;
    font-size: 16px;
    align-items: center;
    margin-right: 100px;
    border-bottom: 1px solid #000;
}

.select-feed select{
    border: none;
    margin-right: 25%;
    
}

.select-feed span{
    white-space: nowrap;
    margin-right: 25px;
}

.header-feed{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
  
  .page-button {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #2E7BB4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .page-button:hover {
    background-color: #5c9ecf
  }
  
  .page-button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .pagination span {
    margin: 0 10px;
  }


  