.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    max-width: 400px;
    max-height: 90vh;
    overflow-y: auto;  
    width: 100%;
  }
  
  .modal-header {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal-body {
    padding: 10px;
  }
  
  .modal-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .error-div{
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 30%;
    background-color: #fcacac;
    text-align: center;
    border-radius: 22px;
  }

  .error-div p {
    text-align: center;
    margin: 0;
  }

  .align-header{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
  }

  .area-interesse {
    font-weight: bold;
    margin-top: 10px;
  }
  
  .select-interesse {
    width: 100%;
    margin-top: -10px;
  }
  
  .modal-body .mb-3:not(:last-child) {
    margin-bottom: 10px;
  }

  .register-link {
    color: #2f7bb5;
    margin-top: 5px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .form-check-label {
    font-size: 14px;
  }
  
  .form-check-input {
    width: 13px;
    height: 13px;
    margin-right: 10px;
    vertical-align: middle;
  }
  

  .register-text {
    margin: 0;
  }

  .register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
 
  