/* Estilos comuns para dispositivos desktop e mobile */
.geral {
  display: flex;
  position: relative;
  width: 95%;
  top: 70px;
  flex-direction: column;
  background-color: white;
  margin: 25px;
  overflow-y: auto;
}

.top {
  display: flex;
  width: 100%;
  height: 65%;
}

.bot {
  display: flex;
  width: 100%;
  height: 45%;
  margin-bottom: 20px;
  flex-direction: column;
}

.right-top {
  display: flex;
  width: 50%;
  height: 100%;
  flex-wrap: wrap;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.left-top {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: row;
}

.item {
  margin: 0;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.item label {
  font-weight: bold;
  margin: 0;
}

.custom-input {
  margin-bottom: 0;
}

.buttons {
  margin-top: 20px;
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.arquivo,
.imagem {
  display: flex;
  flex-direction: column;
}

.view-image {
  display: flex;
  width: 255px;
  height: 255px;
}

img {
  margin-top: 20px;
  margin-left: 20px;
  width: 200px;
  height: 200px;
  border: 3px solid #5d9fcf;
}

span {
  color: #7e7e7e;
}

th {
  background-color: #5d9fcf;
  border-right: 2px solid white;
  color: white;
}

.custom-file-upload {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #689dd5;
  width: 200px;
  height: 80px;
  background-color: #e1eefd;
  border-radius: 5px;
  cursor: pointer;
}

.input-file {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  pointer-events: none;
}

.select {
  display: flex;
  width: 100%;
}

.nivel, .disciplina{
  width: 33%;
  height: 100%;
}

.adicionar{
  display: flex;
  width: 34%;
  height: 50%;
  margin-top: 29px;
}

.change{
  display: flex;
}

.change img{
  border: none;
  margin-top: -8px;
  margin-left: 0;
  width: 22px;
  height: 22px;
}

.change button{
  border: none;
  background: transparent;
}

.btn-blue {
  background-color: #e1eefd;
  color: #689dd5;
}

@media (max-width: 768px) {

  .geral{
    margin-left: 0;
    width: 100%;
    align-items: center;
  }
  .top {
    display: flex;
    width: 80%;
    margin-left: 0;
    flex-direction: column;
  }

  .left-top {
    flex-direction: column;
    width: 100%;
    display: flex;
    order: 2;
  }

  .right-top {
    justify-content: center;
    align-items: center;
    width: 100%;
    order: 1;
  }

  .buttons {
    order: 1;
    justify-self: start;
    width: 100%;
    flex-direction: column;
  }

  .item {
    width: 100%;
  }

  .view-image {
    order: 2;
    margin: 0 auto;
  }

  .view-image img {
    margin: 20px auto;
  }

  .select {
    flex-direction: column;
    align-items: center;
  }
}
