.geral{
    display: flex;
    position: relative;
    top: 80px;
    width: 100%;
    height: 90vh;
    flex-direction: column;
}

.top{
    display: flex;
    width: 100%;
    height: 70%;
    background-color: blueviolet;
}

.bot{
    display: flex;
    width: 100%;
    height: 30%;
    background-color: aqua;
}

.right-top{
    display: flex;
    width: 30%;
    height: 100%;
    background-color: crimson;
    flex-direction: column;
}

.left-top{
    display: flex;
    width: 70%;
    height: 100%;
    background-color: blue;
}