<div class="modal-wrapper" *ngIf="modalAberto">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Login</h5>
      <button type="button" class="close" (click)="fecharModalLogin()">
        <span>&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <label for="email" class="form-label">E-mail</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu e-mail" [(ngModel)]="email">
        </div>

        <div class="mb-3">
          <label for="senha" class="form-label">Senha</label>
          <input type="password" class="form-control" id="senha" name="senha" placeholder="Digite sua senha" [(ngModel)]="senha">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" (click)="submit()">Entrar</button>
      <button type="button" class="btn btn-secondary" (click)="fecharModalLogin()">Fechar</button>
    </div>
  </div>
</div>
