.cabecalho {
  display: inline-block;
  position: sticky;
  top: 0;
  background-color: var(--azul-2);
  color: var(--contraste-claro);
  width: 100%;
  z-index: 100;
  min-width: 15rem; 
  padding: 0.5rem 1rem;
  height: 56px;
}
.cabecalho-logo{
  width: 75px;
}
.btn-cabecalho{
  width: 2.5rem;
  margin:0 0.5rem;
}

.cabecalho__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cabecalho__right-side {
  display: none;

}
.cabecalho--pesquisa {
  margin: 0 0.5rem;
}

.items-xl {
  display: none;
}

.avt-cab {
  height: 2rem;
  width: 2rem;
  margin: 0 0.5rem 0 0;
}

.user {
  margin-left: auto;
}

.user:hover {
  cursor: pointer;
}

.user__menu {
  align-items: center;
  display: flex;
  cursor: pointer;
}

.user__menu--name {
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
}

.user__list {
  margin: 1rem 2rem;
}

.user__item {
  margin: 0.5rem 0;
}

.user__link {
  display: flex;
  align-items: center;
}

.user__link:hover {
  color: var(--contraste-claro);
}

.notifications {
  margin: 0 1rem;
}

.desactive {
  display: none;
  visibility: hidden;
}

.btn-logout:hover {
  background-color: var(--azul-5);
  border-radius: 8px;
  cursor: pointer;
}

.caixa {
  overflow: auto;
  z-index: 1;
  position: absolute;
  top: 64px;
  border: 1px solid var(--cinza-6);
  font-size: var(--fonte-tamanho-secundaria);
  right: 32px;
  padding: 1rem;
  background-color: white;
  border-radius: 8px;
  line-height: 1;
  width: 160px;
  height: auto;
  -webkit-box-shadow: 0px 2px 10px -6px var(--cinza-1); 
  box-shadow: 0px 2px 10px -6px var(--cinza-1);
}

.caixa ul {
  display: block;
}

.caixa-item {
  display: block;
  width: 100%;
  font-size: var(--fonte-tamanho-secundaria);
  height: 24px;
  color:var(--cinza-3);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.caixa-item:hover {
  text-decoration: underline;
  color: var(--azul-2);
  cursor: pointer;
}

.input-pesquisa {
  display: none;
  outline: none;
  border-radius: 6px;
  background-position: 50%;
  border: 2px solid var(--azul-claro-transparente);
  background-color: transparent;
  font-size: var(--fonte-tamanho-secundaria);
  background-repeat: no-repeat;
  background-image: url(../img/icon/search-icon.svg);
  background-size: auto;
  height: 40px;
  cursor: pointer;
}

.input-pesquisa:focus {
  width: 100%;
  background-color: var(--azul-escuro-transparente);
  background-image: none;
}

.input-pesquisa:hover {
  background-color: var(--azul-claro-transparente);
}

.cabecalho-active:hover {
  background-color: var(--azul-claro-transparente);
  border-radius: 6px;
}

.input-pesquisa::placeholder {
  opacity: 0;
}

.active {
  box-shadow: inset 0px 0px 0px 2px var(--azul-claro-transparente);
  background-color: var(--azul-escuro-transparente);
}

@media screen and (min-width: 768px) {
  .cabecalho-logo{
    width: inherit;
  }
  .cabecalho__left-side {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .input-pesquisa {
    display: flex;
    background-size: auto;
    background-position: 90%;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    padding: 0 1rem ;
    min-width: 40%;
    width: 100%;
  }
  .input-pesquisa::placeholder {
    opacity: 80%;
    color: var(--azul-4);
  }
  .input-pesquisa:focus::placeholder {
    opacity: 50%;
  }
  .cabecalho--navegacao {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cabecalho__right-side {
    display: flex;
    align-items: center;
    width: 60%; 
    justify-content: flex-end;
  }
  .navegacao--item {
    height: 100%;
    padding: 0 0.5rem;
  }
  .menu {
    display: none;
  }
  .items-xl {
    display: flex;
  }
}
@media screen and (min-width: 1024px) {
  .cabecalho--navegacao {
    margin-left: 1rem;
    justify-content: flex-start;
  }

  .cabecalho {
    padding: 0.5rem 2rem;
  }
}

.hover {
  cursor: pointer;
}

.show {
  display: block;
}