.avatar{
  border-radius: 50%;
}
.ordenar{
  visibility: hidden;
}
.item{
  margin: 0.5rem;
}
.msg-alternativa{
  color: var(--cinza-4);
  font-weight: 300;
}
.avt-container{
  margin: auto;
  width: 237px;
  border-radius: 50%;
  border: 1px solid var(--cinza-5);
}
.avt-content{
  position: relative;
  padding-top: 100%;
}
.avt{
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.avt-hover_container{
  height: auto;
  
}
.card-title{
  display: flex;
  color: var(--cinza-4);
  padding: 0.175rem 0;
  border-bottom: 1px solid var(--cinza-6);
  margin-bottom: 0.5rem;
  font-size: 18px;
  font-weight: 500; /* ficar assim ao clicar em uma das abas*/
}
.card-select{
  color: var(--cinza-1);
  
}
.card-select:hover{
  border-bottom: 2px solid black;
}
.show-more{
  text-align: center;
  display: flex;
  justify-content: center;
}
.btn-show-more{
  width: 10rem;
  position: absolute;
  bottom: 0.5rem;
}
.info-content{
  display: flex;
  align-items: center;
  word-break: break-word;
}
.info-icon{
  color: var(--cinza-3);
  font-size: 22px;
}
.avt-hover_container:hover .avt-hover{
  cursor: pointer;
  opacity: 1;
}
.avt-hover{
  opacity: 0;
  background-color: rgba(54, 54, 54, 0.7);
  color: #f8f9fc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  transition: all 0.2s;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  z-index: 100;
  position: absolute;
  top:0;
    left: 0;
  
}
.avatar{
  display: inline-block;
  box-shadow: 0 0 0 1px var(--cinza-5);
  flex-shrink: 0;
  width: 16.66667%;
  height: auto;
  line-height: 1;
  overflow: hidden;
  vertical-align: middle;
}

.info-resp{
  display: flex;
  align-items: center;
}
.avt-resp{
  width: 16.66666666%;
  flex-shrink: 0;
  margin: 0 0.5rem 0 0 ;
}

.vcard-fullname{
  font-size: 24px;
  line-height: 1;
}
.vcard-username{
  color: var(--cinza-3);
  word-break: break-all;
  font-size: 16px;
  line-height: 1;
}


@media screen and (min-width: 768px) {
	.left-side{
    width: 25%;
    padding: 1rem;
  }
  .right-side{
    width: 75%;
    padding: 1rem;
    position: relative;
  }
  .avt-container{
    width: 100%;
  }
.d-block{
  display: block;
}
.avatar{
  width: 100%;
}
.vcartao-nome{
  padding-top: 0.5rem;
}
}