.post-container{
    
    margin-top: 0.5rem;
    max-width: 1024px;
    min-width: 15rem;
}
.cartao-post{
    min-width:30%;
    padding: 1rem 1rem;
    margin-right: 0;
    margin-bottom: 0.5rem;
    position: inherit;
    top: 4rem;
}
.botao-comentar{
    display: block;
    margin-left: auto;
    font-weight: 500;
}
.comment-container{
    background-color: var(--azul-claro-transparente);
    border-radius: 8px;
    padding: 1rem;
    margin:0.75rem 0;
}
.comment-count{
    display: flex;
    justify-content: right;
    margin: 0.5rem 0;
    font-size: 13px;
    color: var(--cinza-4);

}
.button-resp{
    font-weight: 500;
    color: var(--azul-1);
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
}
.post-img_container{
    display: flex;
    justify-content: center;
    max-height: 368px;
}
.post-img_content{
    display: flex;
    justify-content: center;
}
.post-img {
    max-width: 100%;
    max-height: 100%;
}
.btn-download{
    font-size: 14px;
    color: var(--azul-1);
    font-weight: var(--fonte-peso-medium);
}
.btn-download:hover{
    color: var(--azul-1);
    background-color: var(--azul-5)
}
.pp-title{
    font-weight: 700;
    font-size:28px;
    margin-bottom: 0.5rem;
    color: var(--cinza-3);
}
.btn-excluir{
    font-size: 14px;
    color: var(--cinza-4);
    font-weight: var(--fonte-peso-medium);
}
.btn-excluir:hover{
    color: var(--cor-aviso);
    background-color: var(--cor-aviso-fundo);
}
.bloco-inf{
    padding-left: 0.5rem;
    justify-content: center;
}
.avt-post{
    height: 2.75rem;
    width: 2.75rem;
    margin-right: 0.25rem;
}
.btn-order{
    display: flex;
    order: -1;
    justify-content: space-around;
    width: 100%;
}
.post-data{
    color: var(--cinza-4);
    font-weight: 300;
    font-size: 13px;
}

.post-titulo{
    font-size: var(--header-4);
    font-weight: var(--fonte-peso-medium);
    color: var(--cinza-1);
    margin-right: 0.5rem;
}
.tags{
    color: var(--azul-1);
    font-weight: 500;
}
.popup-container{
    position: fixed;
    min-width: 10rem;
    display: none;
}


.btn-popup{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-close{
    position: absolute;
    top: 0.75rem;
    color: var(--cinza-3);
    right: 0.75rem;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;

}
.popup{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    padding: 3.5rem 3rem 2rem;
}
.fullscreen-container {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(90, 90, 90, 0.5);
    z-index: 9999;
}

.popdiv {
    font-size: 18px;
    height: fit-content;
    max-width: 30rem;
    border-radius: 6px;
    text-align: justify;
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto 1rem;
}
.btn-read{
    color: var(--azul-1);
    font-weight: 500;
    font-size: 13px;
    
}
.btn-read:hover{
    text-decoration: underline;
    cursor: pointer;
}

.post-functions{
    display: flex;
    align-items: center;
    border-top: 1px solid var(--cinza-6);
    border-bottom: 1px solid var(--cinza-6);
    padding: 0.175rem 0;
    height: 2.5rem;
}
.functions-items{
    width: 50%;
    color: var(--cinza-3);
    justify-content: center;
    height: 100%;
}
.functions-items:hover{
    background-color: var(--cinza-6);
    border-radius: 6px;
    cursor: pointer;
}

@media screen and (min-width: 495px) {
    .btn-order{
        justify-content: unset;
        width: auto;
        order: 0;
    }
    .popdiv{
        margin: auto;
    }
}
.read-more{
    overflow: hidden;
    text-align: start;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.read-less{
    display: block;
    text-align: start;
    word-wrap: break-word;
}
@media screen and (min-width: 768px) {
    .cartao-post{
        margin-left: 1%;
        position: sticky;
    }
}

.options-container{
    display: none;
    overflow: auto;
    z-index: 1;
    position: absolute;
    border: 1px solid var(--cinza-6);
    font-size: var(--fonte-tamanho-secundaria);
    color: var(--cinza-1);
    right: 24px;
    padding: 0.5rem;
    text-align: center;
    background-color: white;
    border-radius: 6px;
    height: auto;
    -webkit-box-shadow: 0px 2px 10px -6px var(--cinza-1); 
    box-shadow: 0px 2px 10px -6px var(--cinza-1);
}
.options-items{
    display: flex;
    align-items: center;
    border-radius: 6px;
    width: 100%;
    padding-left: 0.25rem;
    padding-right: 0.75rem;
    height: 46px;
}
   
.options-items:hover{
 background-color: var(--cinza-6);
}

.options-btn{
    cursor: pointer;
    margin-right: 0;
    height: 2.25rem;
    width: 2.25rem;
    transition: all ease-in-out 0.25s;
    border-radius: 100%;
}
.options-btn:hover{
    background-color: var(--cinza-6);
    transition: all ease-in-out 0.25s;

}
.show-options {
    display: block;
}