.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    max-width: 400px;
    width: 100%;
  }
  
  .modal-header {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
  }  

  .align-header{
    display: flex;
    width: 100%;
    align-items: center;
  }

  .align-header h1{
    width: 100%;
    align-self: center;
  }
  
  .modal-body {
    padding: 5px;
  }
  
  .modal-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .error-div{
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 30%;
    background-color: #fcacac;
    text-align: center;
    border-radius: 22px;
  }

  .error-div p {
    text-align: center;
    margin: 0;
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .btn-custom{
    color: white;
    background-color: #2e7bb4;
  }
  .btn-custom2{
    color: #2e7bb4;
    background-color: fff;
  }

  

  
  
  