<div class="modal-wrapper" *ngIf="modalAberto">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Cadastro</h5>
      <button type="button" class="close" (click)="fecharModalCadastro()">
        <span>&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="submitForm()" #cadastroForm="ngForm">
        <div class="mb-3">
          <label for="nome" class="form-label">Nome</label>
          <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome"
            [(ngModel)]="nome" required pattern="[A-Z][a-zA-Z]*" #nomeInput="ngModel">
          <div *ngIf="nomeInput.invalid && (nomeInput.dirty || nomeInput.touched)" class="alert alert-danger">
            <div *ngIf="nomeInput.errors?.['required']">
              O nome é obrigatório.
            </div>
            <div *ngIf="nomeInput.errors?.['pattern=.*\d.*']">
              O nome deve começar com letra maiúscula.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">E-mail</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu e-mail"
            [(ngModel)]="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #emailInput="ngModel">
          <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="alert alert-danger">
            <div *ngIf="emailInput.errors?.['required']">
              O e-mail é obrigatório.
            </div>
            <div *ngIf="emailInput.errors?.['pattern']">
              O e-mail deve estar no formato correto (example@mail.com).
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="usuario" class="form-label">Usuário</label>
          <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Digite seu usuário"
            [(ngModel)]="usuario" required minlength="6" #usuarioInput="ngModel">
          <div *ngIf="usuarioInput.invalid && (usuarioInput.dirty || usuarioInput.touched)" class="alert alert-danger">
            <div *ngIf="usuarioInput.errors?.['required']">
              O usuário é obrigatório.
            </div>
            <div *ngIf="usuarioInput.errors?.['minlength']">
              O usuário deve ter no mínimo 6 caracteres.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="senha" class="form-label">Senha</label>
          <input type="password" class="form-control" id="senha" name="senha" placeholder="Digite sua senha"
            [(ngModel)]="senha" required minlength="6" pattern=".*\d.*" #senhaInput="ngModel">
          <div *ngIf="senhaInput.invalid && (senhaInput.dirty || senhaInput.touched)" class="alert alert-danger">
            <div *ngIf="senhaInput.errors?.['required']">
              A senha é obrigatória.
            </div>
            <div *ngIf="senhaInput.errors?.['minlength']">
              A senha deve ter no mínimo 6 caracteres.
            </div>
            <div *ngIf="senhaInput.errors?.['pattern']">
              A senha deve conter pelo menos um número.
            </div>
          </div>
        </div>        

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="cadastroForm.invalid">Cadastrar</button>
          <button type="button" class="btn btn-secondary" (click)="fecharModalCadastro()">Fechar</button>
        </div>
      </form>
    </div>
  </div>
</div>
