.header-home{
    background-color: #183142;
    width: 100%;
    height: 60px;
    display: flex;
}


.navbar-left{
    display: flex;
    width: 50%;
    height: 100%;
}

.navbar-right{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    height: 100%;
}

.navbar-left > ul{
  display: flex;
  list-style: none;
  padding: 0;
}

.navbar-right > ul{
    display: flex;
    list-style: none;
    padding: 0;
  }

li {
    height: 100%;
    margin: 3px;
    display: flex;
}

li img {
    margin-right: 5px;
  }

a {
    width:9vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
}

.link-home:hover{
    background-color: #96c2e6;
    border: whitesmoke 1px solid;
    border-radius: 10%;
}

.form{
    width: 100%;
    height: 100%;
    display: flex;
    border: #6da7d7 1px solid;
}

.form input{
    display: flex;
    height: 100%;
    background-color: transparent;
    border: none;
}

.form input::placeholder{
    color: whitesmoke;
}

.form button{
    display: flex;
    height: 100%;
    background-color: transparent;
    border: none;
}

.select-image-label{
    width: 10vw;
    height: 100%;
    display: flex;
    cursor: pointer;
    
}

.custom-select {
    position: relative;
    display: flex;
    background-color: transparent;
    right: 50px;
    border: none;
    cursor: pointer;
  }
  
  
  .options-list {
    transform: translateX(-100%);
    transform: translateY(30%);
    position: absolute;
    width: 10vw;
    list-style-type: none;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0;
    margin: 0;
    font-size: 14px;
    display: none;
  }
  
  .show-options {
    display: block;
    
  }
  
  .options-list li {
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .select-icon {
    margin-left: 10px;
    cursor: pointer;
  }
  