.arquivo{
    position: relative;
    display: flex;
    top: 95px;
    left: 20px;
    right: 20px;
    margin-right: 40px;
    width: auto;
    height: 100%;
    background-color: #fff;
    flex-direction: column;
}

.autor img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.autor{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 20px;
}

.nome{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: center;
}

.nome p {
    margin-bottom: 0;
}

.autor span{
    color: #ccc;
    margin-top: 0;
}

.titulo{
    display: flex;
    width: 100%;
    height: 30%;
    flex-direction: column;
    margin-left: 20px;
}

h2{
    margin-bottom: 0;
}

.titulo span{
    margin-top: 0;
}

.imagem{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
}

.imagem img {
    width: 400px;
    height: 500px;
    margin-top: 40px;
}

.buttons{
    display: flex;
    width: 100%;
    height: 20%;
    margin-bottom: 100px;
    align-items: center;
    margin-top: 50px;
    
}

.buttons button{
    width: 33%;
    height: 40px;
    align-self: center;
    border: none;
    background-color: transparent;
}

.buttons button:hover{
    background-color: #ebebeb;
}

.buttons img{
    width: 25px;
    height: 25px;
}
