
.geral{
  position: relative;
  display: flex;
  margin-top: 105px;
  margin-left: 20px;
  margin-right: 20px;
  flex-direction: row;
}
.arquivo{
    position: relative;
    display: flex;
    margin-bottom: 200px;
    margin-right: 40px;
    width: 75%;
    height: auto;
    background-color: #fff;
    flex-direction: column;
}

.autor img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.autor{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 20px;
}

.nome{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: center;
}

.keywords{
    display: flex;
    flex-direction: row;
}

.keywords span{
    margin-right: 10px;
}

.nome p {
    margin-bottom: 0;
}

.autor span{
    color: #ccc;
    margin-top: 0;
}

.titulo{
    display: flex;
    width: 100%;
    height: 30%;
    flex-direction: column;
    margin-left: 20px;
}

h2{
    margin-bottom: 0;
}

.titulo span{
    margin-top: 0;
}

.imagem{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
}

.imagem img {
    width: 350px;
    height: 350px;
    margin-top: 40px;
}

.buttons{
    display: flex;
    width: 100%;
    height: 20%;
    align-items: center;
    margin-top: 50px;
    
}

.buttons button{
    width: 33%;
    height: 40px;
    align-self: center;
    border: none;
    background-color: transparent;
}

.buttons button:hover{
    background-color: #ebebeb;
}

.buttons img{
    width: 25px;
    height: 25px;
}

.comentar{
    display: flex;
    width: 100%;
    height: 50px;
    flex-direction: row;
}

.comentar input{
    width: 90%;
    height: 50px;
}

.comentar button{
    width: 10%;
    height: 50px;
    color: #fff;
    background-color: #2f7bb5
}

.comentarios {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 80%;
    margin: 20px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .comentarios section {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 25px;
    border: 2px solid crimson;
  }
  
  .comentarios img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 15px;
    margin-left: 15px;
  }
  
  .comentarios h3 {
    font-size: 16px;
    margin: 0;
    margin-bottom: 15px;
    margin-left: 15px;
  }
  
  .comentarios h4 {
    font-size: 14px;
    margin: 0;
    margin-left: 25px;
  }

  .sobre{
    display: flex;
    width: 25%;
    height: 99%;
    flex-direction: column;
    background-color: white;
  }

  .text{
    display: flex;
    flex-direction: row;
    margin: -7px;
  }

  .img-sobre img{
    margin-left: 20px;
    margin-bottom: 10px;
    width: 25px;
    height: 25px;
  }

  .img-sobre span{
    margin-left: 10px;
  }

  .text span{
    font-weight: normal;
  }

  .sobre h4, button{
    margin-left: 20px;
    margin-right: 20px;
  }

  .sobre button{
    margin-top: 10px;
    background-color: #f6fbff;
    color: #417b9b;
    font-weight: bold;
  }

  .btn-custom{
    margin-bottom: 30px;
  }

  h3{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 14px;
  }

  h4{
    font-weight: bold;
  }

  @media screen and (max-width: 767px) {

    .geral{
      flex-direction: column;
    }

    .sobre{
      width: 100%;
      order: 1;
    }
    .arquivo {
      width: 100%;
      order: 2;
      margin-bottom: 0;
      margin-top: 20px;
      padding: 10px;
    }
  
    .autor {
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
    }
  
    .autor img {
      margin-bottom: 10px;
    }
  
    .nome {
      align-items: center;
      margin-left: 0;
      margin-top: 10px;
    }
  
    .titulo {
      margin-left: 0;
    }
  
    .imagem {
      display: flex;
      justify-content: center;
    }
  
    .imagem img {
      width: 100%;
      height: auto;
      margin-top: 20px;
      max-height: 300px;
    }
  
    .buttons {
      flex-direction: row;
      margin-top: 20px;
    }
  
    .buttons button {
      width: 100%;
      margin: 5px 0;
    }
  
    .comentar {
      flex-direction: column;
    }
  
    .comentar input {
      width: 100%;
    }
  
    .comentar button {
      width: 100%;
    }
  
    .comentarios {
      width: 100%;
      margin: 20px 0;
    }
  
    .comentarios img {
      margin-left: 0;
      margin-top: 0;
    }
  }