.header-home {
  position:fixed;
  background-color: #183142;
  width: 100%;
  height: auto;
  z-index: 999;
}

.left-content{
  width: 80%;
  height: 100%;
  justify-content: flex-start;
}

.right-content{
  margin-right: -200px;
  width: 30%;
  height: 100%;
  justify-content: flex-end;
}

.navbar-custom {
  background-color: #5c9ecf;
  color: #ffffff;
  height: 100%;
}

.btn-custom {
  display: flex;
  background-color: none;
}

.btn-home{
  color: white;
  width: 20px;
  height: 100%;
  margin: 0;
}

.bg-custom {
  display: flex;
  width: 50%;
  height: 100%;
  background-color: transparent;
  color: whitesmoke;
  border: none;
} 

.nav-item {
  display: flex;
  height: 100%;
  margin: 0;
}

.nav-custom{
  border: 1px solid #70baf1;
  width: 180px;
}

.nav-custom2{
  display: flex;
  margin-top: 10px;
  height: 100%;
}

.select-image-label {
  display: flex;
  cursor: pointer;
}

.custom-select {
  position: relative;
  display: flex;
  background-color: transparent;
  right: 50px;
  border: none;
  cursor: pointer;
}

.options-list {
  position: absolute;
  width: 150px;
  list-style-type: none;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 0;
  margin-top: 70px;
  margin-left: -130px;
  font-size: 14px;
  display: none;
}

.show-options {
  display: block;
}

.select-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
}

.nav-custom input{
  width: 110px;
}
.nav-custom button{
  display: flex;
  width: 50px;
}

.nav-link img{
  width: 20px;
  height: 20px;
}

.nav-link:hover {
  background-color: #96c2e6;
  border: whitesmoke 1px solid;
  border-radius: 10%;
}

.nav-custom:hover {
  background-color: #96c2e6;;
}

.form input::placeholder {
  color: whitesmoke;
}

.options-list li {
  padding: 8px 16px;
  cursor: pointer;
}

.list a{
  color: black;
}

li img {
  margin-right: 15px;
}

input::placeholder {
  color: whitesmoke;
} 

li > a > span{
  color: white;
}