
.conteudo { 
    margin-bottom: 20px; 
    cursor: pointer; 
    text-align: center;
    
}
.conteudo p {
    color: black;
    padding: 5px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.conteudo:hover {
    transform: scale(0.9);    
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    top: 0;
    right: 0;
}

.content *{
    margin: 5px;
    
}

#conteudos {
    display: flex;
}

#conteudos a{
   text-decoration: none;
}

.img-content{
    width: 250px;
    height: 200px;
}
.p-nome{
    font-weight: bold;
}

.p-usuario{
    display: flex;
    width: 100%;
    height: 50px;
}

h1{
    font-size: 28px;
}

.h1-feed{
    width: 78%;
    display: flex;
    margin-top: 10px;
    margin-left: 20px;
}

.select-feed{
    width: 22%;
    display: flex;
    font-size: 16px;
    align-items: center;
    border-bottom: 1px solid #000;
    right: 10px;
}

.select-feed select{
    border: none;
}

.select-feed span{
    white-space: nowrap;
    margin-right: 25px;
}

.header-feed{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
}