
<header class="header-home">
    <nav class="navbar-left">
        <ul>
            <li routerLinkActive="active">
                <span>Comunidade Palp-it: comunidaddepalpit@gmail.com</span>
            </li>
        </ul>
    </nav>
    <nav class="navbar-right">
        <ul>
            <li routerLinkActive="active">
                <a [routerLink]="['/']"><img class="btn-home" src="assets/img/icon/ppca.jpg"></a>
            </li>    
            <li routerLinkActive="active">
                <a [routerLink]="['/']"><img class="btn-home" src="assets/img/icon/Logo_NDAE.png"></a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['/']"><img class="btn-home" src="assets/img/icon/ufpa.png"></a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['/']"><img class="btn-home" src="assets/img/icon/ifpa_logo.png"></a>
            </li>
        </ul>
    </nav>
</header>